/*  your css code here. If applicable */
.container{
	/* background-color:lightgray; */
	height:100%;
	margin:0;
	padding:10px;	
}
h1{
	text-align:center;
}
.card{
	border:1px solid black;
	border-radius:4px;
	padding:8px;
}
ul li{
	list-style-type: none;
	margin:4px 0;
}
ul li a{
	text-decoration-line: none;	
	color:black;
}
h2{
	text-align:center;
}
.player_two,.player_one{
	width:100%;
	padding:10px 0px;
	border-radius:8px;
	background-color: rgb(204, 204, 204)
	
}